/* ===============================
   SALES DETAIL BUTTON
=============================== */

.sales-detail-action {
  display: flex;
  gap: 12px;
  margin-top: 30px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sales-detail-action a {
  padding: 12px 22px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;

  display: inline-flex;
  align-items: center;
  gap: 8px;

  transition: 0.2s;
}
